<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/user/layout/layout::dynamic( ~{ ::title } , ~{ ::main } )}">
<title>Quên mật khẩu - G2SHOP</title>
<main>
	<div class="container my-3">
		<div class="row">
			<div class="col-12 px-3">
				<a href="/" class="v-a-3 mr-1 text-secondary v-font-size-small">
	      			Trang chủ
	      		</a>
	      		/
	      		<a href="/dang-nhap" class="v-a-3 mx-1 text-secondary v-font-size-small">
	      			Đăng nhập
	      		</a>
	      		/
	      		<a href="/dang-nhap/quen-mat-khau" class="v-a-3 mx-1 text-secondary v-font-size-small v-font-weight-6">
	      			Quên mật khẩu
	      		</a>
			</div>
		</div>
	</div>
	<div class="container my-3">
		<div class="row">
			<div class="col-12 text-center px-3">
				<form 
					class="p-4 v-shadow w-100 d-inline-block text-left" 
					action="/dang-nhap/quen-mat-khau" 
					method="post"
					style="max-width: 500px"
				>
				<h3>Quên mật khẩu</h3>
				<div class="my-3">
					<label class="mb-2">
						Bạn vui lòng điền email đã đăng ký với G2Shop. Chúng tôi sẽ gửi link đặt lại mật khẩu qua email.
					</label>
					<br>
					<input 
						class="form-control w-100" 
						name="email" 
						required 
						autofocus>
				</div>
				<button type="submit" class="btn btn-success mt-2">Gửi yêu cầu</button>
			</form>
		</div>
	</div>
</main>
</html>
