<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/user/layout/layout::dynamic( ~{ ::title } , ~{ ::main } )}">
<title>Đặt lại mật khẩu - G2SHOP</title>
<main>
	<div class="container my-3">
		<div class="row">
			<div class="col-12 px-3">
				<a href="/" class="v-a-3 mr-1 text-secondary v-font-size-small">
	      			Trang chủ
	      		</a>
	      		/
	      		<a th:href="@{|/dat-lai-mat-khau/${ resetPasswordCode }|}" class="v-a-3 mx-1 text-secondary v-font-size-small v-font-weight-6">
	      			Đặt lại mật khẩu
	      		</a>
			</div>
		</div>
	</div>
	<div class="container my-3">
		<div class="row">
			<div class="col-12 text-center px-3">
				<form 
					class="p-4 v-shadow w-100 d-inline-block text-left" 
					action="/dat-lai-mat-khau"
					method="post"
					style="max-width: 500px"
				>
				<h3>Đặt lại mật khẩu</h3>
				<div class="my-3">
					<label class="mb-2">
						<b>Lưu ý:</b> Sau khi đặt lại mật khẩu thành công, link đặt lại mật khẩu chúng tôi đã gửi qua email của bạn sẽ bị vô hiệu hóa.
					</label>
					<input 
						name="resetPasswordCode"
						th:value="${ resetPasswordCode }"
						type="hidden"
					>
					<div class="my-3">
						<label>
							Mật khẩu mới ( >= 3 ký tự ):
							<span class="text-danger">*</span>
						</label>
						<br>
						<input 
							type="password" 
							class="form-control w-100" 
							name="newPassword" 
							required 
							autofocus>
					</div>
					<div class="my-3">
						<label>
							Xác nhận mật khẩu mới ( cần khớp với mật khẩu mới ):
							<span class="text-danger">*</span>
						</label>
						<input 
							type="password" 
							class="form-control w-100"
							name="confirmPassword"
							required >
					</div>
				</div>
				<button type="submit" class="btn btn-success mt-2">Xác nhận đặt lại mật khẩu</button>
			</form>
		</div>
	</div>
</main>
</html>
