<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/user/layout/layout::dynamic( ~{ ::title } , ~{ ::main } )}">
<title>[[${ product.name }]] - G2SHOP</title>
<main>
  	<div class="container my-3">
	    <div class="row">
	    	<div class="col-12 px-3">
	      		<a href="/" class="v-a-3 mr-1 text-secondary v-font-size-small">
	      			Trang chủ
	      		</a> 
	      		/
	      		<a href="/san-pham?categories=0" class="v-a-3 mx-1 text-secondary v-font-size-small">
	      			Sản phẩm
	      		</a>
	      		/ 
      			<a 
      				th:href="'/san-pham/' + ${ product.category.slug }" 
      				class="v-a-3 mx-1 text-secondary v-font-size-small">
      					[[${ product.category.name }]]
      			</a>
      			/
      			<a 
      				th:href="'/san-pham/' + ${ product.category.slug } + '/' + ${ product.slug }" 
      				class="v-a-3 mx-1 text-secondary v-font-size-small v-font-weight-6">
      					[[${ product.name }]]
      			</a>
	      	</div>
	    </div>
	</div>
	<div class="container my-4">
		<div class="row">
			<div class="col-lg-4 col-md-12 px-3">
				<div class="border border-secondary overflow-hidden v-shadow-5">
					<img 
						id="product-image"
						class="w-100 v-zoom-2"
						th:src="@{|/images/products/${product.id}/${product.imageName}|}">
				</div>
				<div class="mt-2">
					<img
						th:each="imageName,iStat: ${productImageNames}" 
						th:if = "${ imageName != '' }"
						class="border border-secondary mr-1 v-cursor-pointer v-zoom-3" 
						th:id="${ product.id + '/' + imageName }"
						style="width:15%" 
						th:src="@{|/images/products/${product.id}/${ imageName }|}"
						onclick = "select_product_image( this.id )">
				</div>
			</div>
			<div class="d-lg-none col-12 my-3"></div>
			<div class="col-lg-8 col-md-12 px-3">
				<h5 th:if="${product.discount>0}" 
					class="bg-success text-white rounded d-inline-block p-2 v-shadow-4">
						-[[${ product.discount }]]%
				</h5>
				<h2 class="text-dark v-font-weight-4 my-3">
					[[${ product.name }]]
				</h2>
				<h6 class="text-secondary">
					Mã SP: 
					<a th:href="'/san-pham/' + ${ product.category.slug } + '/' + ${ product.slug }" class="v-text v-font-weight-6">
						[[${ product.id }]]
					</a>
					|
					Thương hiệu: 
					<a th:href="@{|/san-pham?is-filter-new=1&brands=${product.brand.id}|}" class="v-text v-font-weight-6">
						[[${ product.brand.name }]]
					</a>
				</h6>
				<div class="my-3">
					<h2 class="v-color d-inline-block text-danger mr-2 v-font-weight-5">
						[[${ #numbers.formatCurrency( product.salePrice ) }]]
					</h2>
					<h4 class="text-secondary d-inline-block">
						<small><del>[[${ #numbers.formatCurrency( product.price ) }]]</small>
					</h4>
				</div>
				<h5 class="text-secondary mb-1">[[${ product.viewCount }]] Lượt xem</h5>
				<div class="d-flex justify-content-between">
					<h4 class="v-font-weight-6 text-danger">
						<i th:unless="${ session.USER }" class="fa-regular fa-heart"></i> 
						<th:block th:if="${ session.USER }">
							<th:block th:if="${ session.USER.role.id == 1 }">
								<a 
									th:if="${ #lists.contains( likedProductIdList , product.id ) }" 
									class="fa-solid fa-heart text-danger v-zoom-2"
									th:href="@{|/khach-hang/thich-san-pham?productId=${ product.id }|}">
								</a>
								<a 
									th:unless="${ #lists.contains( likedProductIdList , product.id ) }" 
									class="fa-regular fa-heart text-danger v-zoom-2"
									th:href="@{|/khach-hang/thich-san-pham?productId=${ product.id }|}">
								</a>
							</th:block>
							<i th:unless="${ session.USER.role.id == 1 }" class="fa-regular fa-heart"></i> 
						</th:block>
						<small class="text-secondary">
							[[${ product.likesCount }]]
							Lượt thích
						</small>
						<th:block th:if="${ session.USER }">
							<small class="v-font-size-small v-font-weight-6 ml-1" th:if="${ #lists.contains( likedProductIdList , product.id ) }">( Bạn đã thích sản phẩm )</small>
						</th:block>
					</h4>
				</div>
				<hr class="mt-3 mb-2">
				<form action="/gio-hang/them-san-pham" method="POST">
					<input type="hidden" name="productId" th:value="${product.id}">
					Số lượng mua:
					<div class="border border-secondary mr-2 d-inline-block">
						<button 
							class="btn btn-light v-color rounded-0 py-1 px-2 mr-0 border-0"
							onclick="decrease_product_number()"
							type="button">
								-
						</button>
						<input 
							id="input-product-number" 
							name="quantity"
							class="border-0 rounded-0 py-1 px-2 m-0" 
							type="number" 
							value=1
							min=1
							max=99
							style="max-width:50px"
							readonly 
						>
						<button 
							class="btn btn-light v-color rounded-0 py-1 px-2 ml-0 border-0" 
							onclick="increase_product_number()" 
							type="button">
								+
						</button>
					</div>
					<button
						class="btn bg-success text-white rounded px-3 rounded v-shadow-5 my-2">
						<i class="fa-solid fa-cart-plus mr-1"></i>
						Thêm vào giỏ hàng
					</button>
				</form>
			</div>
		</div>
	</div>
	<div class="container mt-5 mb-4">
		<div class="row">
			<div class="col-12 px-3">
				<h4 class="v-text v-font-weight-6">THÔNG TIN SẢN PHẨM</h4>
				<hr class="pt-1 pb-0 bg-secondary mt-0 ml-0 opacity-4" style="max-width:75px">
			</div>
			<div class="col-12 px-3 text-justify">
				[(${ product.description })]
				<hr>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-12 px-3 mb-1">
				<h5 class="v-text v-font-weight-6">SẢN PHẨM CÙNG LOẠI</h5>
				<hr class="pt-1 pb-0 bg-secondary ml-0 my-0 opacity-4" style="max-width:75px">
			</div>
			<div id="slide-related-products" class="d-none d-lg-block carousel slide w-100" data-ride="carousel">
			  	<div class="carousel-inner m-0">
			    	<div th:each="mlist , iStat : ${ relatedProductList }" th:class="'carousel-item' + ${iStat.index==0?' active':''}">
			    		<div class="row px-5 py-4">
			    			<div th:each="product : ${ mlist }" class="col-3 p-1">
								<th:block th:include="/user/layout/product-box"></th:block>
							</div>	
			    		</div>
			    	</div>
			  	</div>
			  	<a class="carousel-control-prev v-zoom-2" href="#slide-related-products" role="button" data-slide="prev" style="width:auto">
			    	<h4 class="p-2 fa-solid fa-chevron-left text-secondary" aria-hidden="true"></h4>
			  	</a>
			  	<a class="carousel-control-next v-zoom-2" href="#slide-related-products" role="button" data-slide="next" style="width:auto">
			    	<h4 class="p-2 fa-solid fa-chevron-right text-secondary" aria-hidden="true"></h4>
			  	</a>
			</div>
		</div>
		<div class="row d-lg-none">
   			<div th:each="product : ${ relatedProductList[ 0 ] }" class="col-6 px-1 my-2">
				<th:block th:include="/user/layout/product-box"></th:block>
			</div>
		</div>
	</div>
	<script>
		const increase_product_number = () => {
			const e = document.getElementById( "input-product-number" )
			e.value = Number( e.value ) < Number( e.max ) ? Number( e.value ) + 1 : Number( e.value )
		}
		const decrease_product_number = () => {
			const e = document.getElementById( "input-product-number" )
			e.value = Number( e.value ) > Number( e.min ) ? Number( e.value ) - 1 : Number( e.value )
		}
		const select_product_image = imageName => {
			const e = document.getElementById( "product-image" )
			e.src = "/images/products/" + imageName
		}
	</script>
</main>
</html>