<div>
	<h4 class="v-font-weight-3">DANH SÁCH VAI TRÒ</h4>
	<hr>
	<div class="row">
		<div class="col-6">
			<input class="form-control w-100" placeholder="Tìm kiếm ..." ng-model="search">
		</div>
		<div class="col-6 text-right">
			<button class="btn btn-light" ng-click="pager.first()">
				<i class="fas fa-angle-double-left"></i>
			</button>
			<button class="btn btn-light m-1 mr-4" ng-click="pager.prev()">
				<i class="fas fa-angle-left"></i>
			</button>
			Trang: 
			<input class="form-control d-inline-block" ng-model="pager.page" style="max-width:85px" type="number"> 
			/ {{pager.count}}
			<button class="btn btn-light m-1 ml-4" ng-click="pager.next()">
				<i class="fas fa-angle-right"></i>
			</button>
			<button class="btn btn-light" ng-click="pager.last()">
				<i class="fas fa-angle-double-right"></i>
			</button>
		</div>
	</div>
	<table class="table table-hover table-bordered bg-white rounded mt-3 mb-0 v-shadow mb-4">
         <thead class="thead-light">
             <tr>
                 <th class="text-center">#</th>
                 <th class="text-center"><a href="" class="text-info" ng-click="sortBy( 'id' )">Mã vai trò</a></th>
                 <th><a href="" class="text-info" ng-click="sortBy( 'name' )">Tên vai trò</a></th>
                 <th class="text-center">Sửa</th>
             </tr>
         </thead>
         <tbody>
             <tr ng-repeat="( index , item ) in items | orderBy:propertyName:reverse | filter: search"
             	ng-if="pager.isInCurrentPage( index )" >
                 <td class="text-right">{{ index + 1 }}</td>
                 <td class="text-right">{{ item.id }}</td>
                 <td>{{ item.name }}</td>
	             <td class="p-2 text-center">
	               	<button class="btn btn-info v-warning py-0 px-1 m-0 v-shadow" ng-click="edit( item )">
	               		<small class="fas fa-pen mr"></small>
	               	</button>
	             </td>
           	</tr>
        </tbody>
    </table>
    <div>
		Tổng số vai trò : <b>{{ items.length }}</b>
	</div>
  
</div>